body {
  font-family:  monospace;
  font-size: 14px;
}
#wrapper {
  margin: 35px auto;
  width: 200px;
  display: none;
}
  form {
    margin-bottom: 30px;
  }
    input {
      width: 100%;
      margin-bottom: 5px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  #videos dt {
    padding: 2px 0;
  }
  #videos dt:hover {
    text-decoration: underline;
  }
#ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
